body {
	height: 100vh;
	background: #fff;
}
.staff_profile_list {
	display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,235px));
	gap: 30px;
	max-width: calc((235px * 5) + (30px *5));
	width: 100%;
	margin: 30px auto 0;
}


.staff_profile_box {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 15px;
	overflow: hidden;
}
 

.staff_profile {
	width:235px;
	height: 235px;
}


.staff_name{
	text-align:left;
	font-weight: bold;
}

.staff_main{
	margin-top:5px;
	margin-left:5px;	
	padding: 5px;
}