<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">

	<resultMap type="Member" id="memberResultSet">
		<result column="member_index" property="memberIdx"></result>
		<result column="member_name" property="memberName"></result>
		<result column="member_email" property="memberEmail"></result>
		<result column="member_password" property="memberPassword"></result>
		<result column="member_id" property="memberId"></result>
		<result column="member_address" property="memberAddr"></result>
	</resultMap>

	<select id="loginMember" resultMap="memberResultSet">
		SELECT * FROM member
		WHERE member_email = #{memberEmail}
		
	</select>
	
	<select id="selectMemberAll" resultMap="memberResultSet">
		SELECT * FROM member
	</select>
	
	<!-- _int -> int , int -> integer -->
   <!-- resultType -> 반환 값 -->
   <select id="checkEmail" resultType="_int">
   		SELECT COUNT(*) FROM member <!--  이렇게만 하면 테이블 컬럼들 갯수 --> 
   		WHERE member_email = #{memberEmail} <!-- 이메일 유무를 위해 조건넣음 ( 있다면 1, 없다면 0 반환함 -->
   </select>
   
   <insert id="registerMember" parameterType="Member">
   	INSERT INTO member(member_index,
   					   member_name,
   					   member_email,
   					   member_password,
   					   member_id,
   					   member_address)
   			VALUES (seq_movie_idx.NEXTVAL,
   				  #{memberName},
   				  #{memberEmail},
   				  #{memberPassword},
   				  #{memberId},
  				  #{memberAddr}
  				  )
   </insert>
   
   <!-- mypage -->
   <select id="detailMypage" resultMap="memberResultSet">
   		SELECT member_index, member_id, member_name, member_email, member_address 
   		from member
   		where member_index = #{idx}
   </select>
   
   <!-- 수정 -->
   <update id = "updateMypage" parameterType="Member">
   		UPDATE member SET member_name = #{memberName},
   							member_email = #{memberEmail},
   							member_password = #{memberPassword},
   							member_address = #{memberAddr}
   							WHERE member_index = #{memberIdx}						
   </update>
   
</mapper>